.footer__column-link {
    color: white;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    text-decoration: none;
}

.footer__column-link:hover {
    opacity: 0.5;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
}