.feynman__link {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    color: #2f80ed;
    text-decoration: none;
    z-index: 2;
    position: absolute;
    right: 48px;
    top: 50%;
}
  
.feynman__link:hover {
    opacity: 0.5;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
}